{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1 align="right">{{ current_user.fullname }}</h1>
            <hr>
            <h1>{{ month|date:'F Y' }}</h1>
            <hr>
            <h2>1. Заказы у поставщиков: {{ object_list|length }}.</h2>

            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th></th>
                    <th>Товар</th>
                    <th>Договор</th>
                    <th>Дата заказ у поставшика</th>
                    <th>Дата получения от поставщика</th>
                </tr>
                </thead>
                <tbody>
                {% for oi in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ oi.product }}</td>
                        <td>{{ oi.order }}</td>
                        <td>{{ oi.supplier_invoice_date }}</td>
                        <td>{{ oi.supplier_delivered_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            <hr>

        </div>
    </div>
{% endblock %}

{% block footer %}
    <p>
        {% if previous_month %}
            <a href="{% url 'admin_account' user_id=current_user.id year=previous_month.year month=previous_month.month %}">Предыдущий
                месяц: {{ previous_month|date:"F Y" }}</a>
        {% endif %}
        {% if previous_month and next_month %}-|-{% endif %}
        {% if next_month %}
            <a href="{% url 'admin_account' user_id=current_user.id year=next_month.year month=next_month.month %}">
                Следующий месяц: {{ next_month|date:"F Y" }}
            </a>
        {% endif %}
    </p>
{% endblock %}