{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1 align="right">{{ current_user.fullname }}</h1>
            <hr>
            <h1>{{ month|date:'F Y' }}</h1>
            <hr>
            <h2>1. Общая сумма продаж в этом месяце: {{ total|intcomma }} рублей.</h2>
            {% include 'snippets/table_of_orders.html' with orders=object_list %}
            <hr>
            <h2>2. Реализовано из проданного в этом месяце на сумму: {{ realiz_total|intcomma }} рублей.</h2>
            {% include 'snippets/table_of_orders.html' with orders=realiz_qs %}
            <hr>
            <h2>3. Сумма задатков по продажам в этом месяце: {{ am_total|intcomma }} рублей.</h2>
            {% for am in am_qs %}
                <p>{{ am.date }} - {{ am.order }} - {{ am.advance_money }} рублей.</p>
            {% endfor %}
            <hr style="height: 5px; background-color: black; margin: 50px 0">
            <h2>4. Реализовано в этом месяце на сумму: {{ realiz_cashin_total|intcomma }} рублей.</h2>
            {% include 'snippets/table_of_orders.html' with orders=realiz_cashin_qs %}
            <hr>
            <h2>5. Сумма задатков, полученных в этом месяце: {{ am_cashin_total|intcomma }} рублей.</h2>
            {% for am in am_cashin_qs %}
                <p>{{ am.date }} - {{ am.order }} - {{ am.advance_money }} рублей.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <p>
        {% if previous_month %}
            <a href="{% url 'saler_account' user_id=current_user.id year=previous_month.year month=previous_month.month %}">Предыдущий
                месяц: {{ previous_month|date:"F Y" }}</a>
        {% endif %}
        {% if previous_month and next_month %}-|-{% endif %}
        {% if next_month %}
            <a href="{% url 'saler_account' user_id=current_user.id year=next_month.year month=next_month.month %}">
                Следующий месяц: {{ next_month|date:"F Y" }}
            </a>
        {% endif %}
    </p>
{% endblock %}