{% extends "base.html" %}
{% load humanize %}
{% load catalog_filters %}
{% block content %}
    <h1 class="page-header">Личный кабинет <small>{{ account_user.fullname }}</small></h1>
    <br/>

    <table class="table table-striped table-responsive">
        <caption>История продаж</caption>
        <thead>
        <tr>
            <th>Номер договора</th>
            <th>Дата продажи</th>
            <th>Кол-во позиций</th>
            <th>Сумма</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>Договор №{{ order.order_num }}</td>
                <td>{{ order.sale_date }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.total }}</td>
                <td>
                    <form method="post" action="." class="delete_order">
                        {% csrf_token %}
                        <input class="form-control" type="hidden" name="order_id" value="{{ order.id }}"/>
                        {% if not order.admin_check and not order.fullpayed %}
                            <button role="button" class="btn btn-danger" type="submit" name="submit" value="Удалить"><i
                                    style="color: white"
                                    class="fa fa-minus-circle" aria-hidden="true"></i> Удалить
                            </button>
                        {% endif %}
                    </form>
                </td>
                <td><a class="btn btn-primary" href="{% url 'order_detail' order_id=order.id %}">Подробнее...</a></td>
            </tr>
        {% empty %}
            <tr>
                <td>Вы еще ничего не продали.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h1 class="page-header">Ежемесячные отчеты</h1>

    <div>
        {% for d in data %}
            <h2>{{ d.month.0 }} год {{ d.month.1|month_name }}</h2>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-info">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne{{ forloop.counter }}"
                               aria-expanded="false" aria-controls="collapseOne{{ forloop.counter }}">
                                Продано в этом месяце: {{ d.month_total | intcomma }} рублей
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            {% if d.product_items %}
                                {% include 'snippets/table_for_myaccount.html' with oi_list=d.product_items %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo{{ forloop.counter }}" aria-expanded="false"
                               aria-controls="collapseTwo{{ forloop.counter }}">
                                Реализовано из проданного в этом месяце: {{ d.month_total_completed | intcomma }} рублей
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body">
                            {% if d.product_items_completed %}
                                {% include 'snippets/table_for_myaccount.html' with oi_list=d.product_items_completed %}

                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTree{{ forloop.counter }}" aria-expanded="false"
                               aria-controls="collapseTree{{ forloop.counter }}">
                                Реализовано в этом месяце (в т.ч. из проданого в другие
                                месяцы): {{ d.month_total_money_came | intcomma }} рублей
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTree{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree">
                        <div class="panel-body">
                            {% if d.product_items_money_came %}
                                {% include 'snippets/table_for_myaccount.html' with oi_list=d.product_items_money_came %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


            <b>Исходя из вашего объема реализации за {{ d.month.1|month_name }}
                ({{ d.month_total_completed | intcomma }} руб.), ваш коэфициэнт составил: {{ d.percent }}%</b>


            Ваша комиссия: {{ d.profit | intcomma }} руб.

            <hr>
        {% endfor %}


        <hr>

    </div>


{% endblock %}