html {
    height: 100%;
}

body {
    font-family: "Museo Cyr", Helvetica, Roboto, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 90px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

header {
    flex: 0 0 auto;
}

.main-content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    /*margin: 50px 0;*/
    text-align: center;
    background-color: gainsboro;
    clear: both;
    padding: 30px;
}

footer a {
    margin: 30px;
}

.navbar {
    font-size: 1.2em;
}

p, li {
    font-size: 1.2em;
}
/*.navbar-brand, .navbar-nav > li > a {*/
/*color: white !important;*/
/*}*/

/*.navbar-brand:hover, .navbar-nav > li > a:hover {*/
/*color: #464646 !important;*/
/*text-shadow: none;*/
/*}*/

.newly_added_product {
    background-color: #afc4ed;
}

#order_items {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    border: dashed black 2px;
    padding: 50px;
}

#add_product {
    margin-bottom: 50px;
}

.product_errors {
    background-color: rgba(255, 69, 0, 0.52);
}

.order_description {
    border: dashed black 2px;
    padding: 0 50px;
}

.btns {
    text-align: center;
}

.btns > a {
    margin: 10px 0;
}

.btn_margin {
    margin: 10px;
}

.errorlist {
    background-color: rgba(255, 69, 0, 0.52);
}

.alert-error {
    background-color: rgba(255, 69, 0, 0.52);
}

.help-block {
    background-color: rgba(22, 104, 255, 0.52);
    color: white;
}

.control-label {
    margin-top: 20px;
    font-size: 1.3em;
}

.not_done {
    background: rgba(255, 69, 0, 0.52);
}

.done {
    background: rgba(59, 255, 93, 0.52);
}

.messages .warning {
    background-color: rgba(255, 0, 0, 0.57);
}

.messages .info {
    background-color: rgba(0, 128, 0, 0.64);
}


/*.btn {*/
/*margin: 20px;*/
/*}*/

#product_form {
    border: solid black 1px;
    padding: 10px;
    text-align: center;
}

tbody#product_list td.product_name {
    font-size: 1.2em;
    font-weight: 600;
}

.role_in_account {
    text-align: center;
    color: darkblue;
}
