{% load humanize %}

<table class="table table-striped table-responsive">
    <thead>
    <tr>
        <th></th>
        <th>Наименование товара</th>
        <th>Кол-во</th>
        <th>Договор</th>
        <th>Дата заказа у поставщика</th>
        <th>Дата получения от поставщика</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for oi in oi_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ oi.name }}</td>
            <td>{{ oi.quantity }}</td>
            <td><a href="{{ oi.order.get_absolute_url }}">{{ oi.order }}</a></td>
            <td>
                {% if oi.present %}
                    <span style="background-color: #a3ff8b; padding: 5px">В наличии</span>
                {% elif oi.supplier_invoice_date %}
                    {{ oi.supplier_invoice_date }}
                {% else %}
                    <span style="background-color: #ffc675; padding: 5px">-</span>
                {% endif %}
            </td>
            <td>
                {% if oi.present %}
                    <span style="background-color: #a3ff8b; padding: 5px">В наличии</span>
                {% elif oi.supplier_delivered_date %}
                    {{ oi.supplier_delivered_date }}
                {% else %}
                    <span>-</span>
                {% endif %}
            </td>
            <td><a href="{% url 'orderitem_edit' pk=oi.id %}">Изменить</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>