{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="order_description">
                <h2 align="center">Задаток для Договора №{{ am.order.order_num }}</h2>
                <p>Дата: {{ am.date }}</p>
                <p>Сумма: {{ am.advance_money }}</p>
            </div>
            <hr>
            <a class="btn btn-warning btn-lg" href="{% url 'advance_money_edit' id=am.id %}">Изменить</a>
            <hr>
        </div>
    </div>
{% endblock %}