{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="order_description">
                <h2 align="center">Договор №{{ order.order_num }}</h2>
                <p>Дата продажи: {{ order.sale_date }}</p>
                <p>Продавец: {{ order.saler.fullname }}</p>
                <p>Покупатель: {{ order.customer_name }}</p>
                <p>Адрес покупателя: {{ order.customer_addres }}</p>
                <p>Телефон покупателя: {{ order.customer_phone }}</p>
                <p>Сумма продажи: {{ order.total }} рублей</p>
                {% if order.kredit %}
                    <p class="done">Оплачено кредитом</p>
                {% endif %}
                {% if order.full_money_date %}
                    <p class="done">Оплачено полностью: {{ order.full_money_date }}</p>
                {% else %}
                    <p class="not_done">Полностью не оплачено</p>
                {% endif %}
                {% if order.admin_check %}
                    <p class="done">Проверено администратором: {{ order.admin_who_checked.fullname }}</p>
                {% else %}
                    <p class="not_done">Администратор не проверил</p>
                {% endif %}
                {% if order.accountant_check %}
                    <p class="done">Бухгалтер проверил</p>
                {% else %}
                    <p class="not_done">Бухгалтер не проверил</p>
                {% endif %}
                {% if order.delivery_money %}
                    <p>Стоимость доставки: {{ order.delivery_money }} рублей</p>
                {% else %}
                    <p>Стоимость доставки: нет.</p>
                {% endif %}
                {% if order.advancemoney_set.all %}
                    <h3>Задатки: {{ order.total_advance_money }} рублей</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Дата получения задатка</th>
                            <th>Сумма задатка</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for amoney in order.advancemoney_set.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ amoney.date }}</td>
                                <td>{{ amoney.advance_money }} рублей</td>
                                <td><a href="{% url 'advance_money_detail' pk=amoney.id %}">Подробнее</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3>Задатков нет.</h3>
                {% endif %}

                {% if order.orderitem_set.all %}
                    <h3>Позиции договора:</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Товар</th>
                            <th>Кол-во</th>
                            <th>Цена</th>
                            <th>Скидка</th>
                            <th>Сумма без скидки</th>
                            <th>Сумма со скидкой</th>
                            <th>Наличие</th>
                            <th>Заказан у поставщика</th>
                            <th>Получен от поставщика</th>
                            <th>Доставлен покупателю</th>
                        </tr>
                        </thead>
                        <tbody id="order_items_list">
                        {% for oi in order.orderitem_set.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                {% include 'snippets/order_item_table_row_full.html' with orderitem=oi %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <hr>
            <a class="btn btn-warning btn-lg" href="{% url 'order_edit' pk=order.id %}">Изменить</a>
            {% if request.user.role_admin %}
                <a class="btn btn-info btn-lg pull-right" href="{% url 'admin_check' order_id=order.id %}">Проверено админом</a>
            {% endif %}
            <hr>
        </div>
    </div>
{% endblock %}